name: build

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: build-${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v5

      - name: Build artifacts
        run: ./gradlew build --no-daemon --stacktrace

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: PaperTweaks
          path: |
            PaperTweaks.jar
